---
layout: compress
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% if page.url != "/" %}
        {{ page.title }} &middot;
      {% endif %}
      {{ site.title }}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/favicon.ico">

    {% capture include_to_scssify %}
      {% include css/critical.scss %}
    {% endcapture %}
    <style>{{ include_to_scssify | scssify }}</style>
  </head>
  <body>
    {{ content }}
  </body>
</html>
